# Compiled class files
*.class

# Log files
*.log

# Directory for Maven build output
target/

# IDE files
.idea/
*.iml
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# Maven wrapper files
.mvn/wrapper/

# Spring Boot application logs
spring.log

# Environment variables file
.env

# Oracle JDBC Driver
ojdbc8-*.jar

# Other files to ignore
*.jar
*.war
*.ear
